name: deploy my calender
on:
  pull_request:
    branches:
      - master
    types:
      - closed
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: install ssh keys
        # check this thread to understand why its needed:
        # https://stackoverflow.com/a/70447517
        # test
        run: |
          mkdir ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
          echo "${{ secrets.KEY_PEM }}" > ~/mykey.pem
      - name: connect and pull
        run: ssh -i "mykey.pem" ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "echo "hi" && exit"
      - name: cleanup
        run: rm -rf ~/.ssh
